body {
  font-family: "Inter", sans-serif;
}

h1 {
  text-align: center;
}

.btn.reset-btn {
  background-color: brown;
}

.info {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 16px;
  padding: 12px 36px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  transition: 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  opacity: 0.7;
}

.buttons {
  display: flex;
  margin: 16px auto;
  justify-content: center;
  text-align: left;
}

.square {
  border: 2px solid black;
  display: flex;
  width: 50px;
  aspect-ratio: 1/1;
  box-sizing: border-box;

}

.content {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  max-height: 800px;
  justify-content: center;
  margin: 0 auto;

}

.square-hover {
  background-color: brown;
}